# Python virtual environment
.venv/
venv/

# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Environment variables
.env
*.env

# Flask instance folder
instance/

# Logs
*.log

# Database files
*.sqlite3
*.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db